#page-home {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: initial;
    text-align: center;
}

.logo-container {   
    text-align: initial;
}

.logo-container img {
    width: 15rem;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
}

.logo-container h2 {
    color: var(--cor-titulo);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.2rem;
}

.login {
    margin: 1.2rem auto 0;
    font-size: 1rem;
    color: var(--cor-texto);
    max-width: 10rem;
}

.login a {   
    color: var(--cor-principal);
    transition: color 0.2s;
    margin-left: 0.4rem;
}

.login a:hover {
    color: var(--cor-texto);
}

.back-img {
    width: 90%;
    margin-bottom: 1.2rem;
}

.botoes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 1.8rem;
}

.botoes-container a {
    background: var(--cor-titulo);
    height: 2.8rem;
    color: var(--cor-branco);
    width: 70%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    transition: 0.8s;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.botoes-container a:first-child {
    background-color: var(--cor-principal);
}

.botoes-container a:hover {
    opacity: 0.6;
}

.botoes-container a:first-child {
    margin-bottom: 1.2rem;
}

.botoes-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.botoes-container span svg {
    margin-right: 2.6rem;
    margin-left: 1.5rem;
}

@media (min-width: 700px) {
    #page-home-content {
        max-width: 1100px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: 
        "logo img img"
        "botoes login login";
    }

    .logo-container {
        grid-area: logo;
        align-self: center;
        margin: 0;
    }

    .logo-container img {
        width: 30rem;
    }

    .logo-container h2 {
        font-size: 3.4rem;
        text-align: center;
        margin-top: 5.2rem;
    }

    .back-img {
        grid-area: img;
        justify-self: end;
        margin-top: 15.2rem;
    }

    .botoes-container {
        grid-area: botoes;
        max-width: 48rem;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    .botoes-container a {
        font-size: 1.8rem;
        height: 6.8rem;
        padding: 2.5rem;
        text-align: center;
    }

    .botoes-container a:first-child {
        margin-right: 3.5rem;
    }

    .botoes-container span {
        font-size: 2.2rem;
        margin: 0;
    }

    .botoes-container span svg {
        margin-right: 2.1rem;
        margin-left: 0;
    }

    .login {
        grid-area: login;
        font-size: 1.6rem;
        max-width: 100%;
        align-self: start;
        margin-top: 2.5rem;
    }

    .login a {
        text-align: initial;
    }
}