
#bg {
    background: url("../../assets/fundo1.png") no-repeat center;
    margin-top: -70px;
}

#conteudo {
    display: flex;
    justify-content: space-around;
}

#info {
    max-width: 460px;
}

#categorias {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 30px;
}

.botoes {
    width: 100%;
    max-width: 275px;
    height: 50px;
    background: var(--cor-botao);
    border-radius: 3px;
    border: 0;
  
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 30px;
}

.botoes span {
    display: block;
    background: var(--cor-principal);
    width: 50px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    margin-left: -6px;
      
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.botoes span svg {
    color: #FFF;
    width: 20px;
    height: 20px;
}

.botoes strong {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-size: 28px;
}

.botoes:hover {
    background: var(--cor-principal);
    transition: background-color 0.5s;
}

.pesquisa {
    text-align: end;
}

.titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

.subtitulo {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
}

.buttonCat {
    display: block;
    text-align: center;    
    max-width: 130px;
    max-height: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: bold;
    background-color: #FFF;
    margin-top: 30px;
    margin-bottom: 80px;
}

.buttonCat img {
    width: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonCat:hover {
    background-color: var(--cor-hover);
    transition: 0.5s;
}