
#bg {
    background: url("../../assets/fundo1.png") no-repeat center;
}

#conteudo {
    display: flex;
    justify-content: space-around;
}

.pesquisa {
    text-align: end;
}

#info {
    max-width: 460px;
}

#info .titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: left;
}

#info .subtitulo {
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    text-align: left;
    margin-top: 80px;
}

#info .botoes {
    width: 100%;
    max-width: 275px;
    height: 50px;
    background: var(--cor-botao);
    border-radius: 3px;
    border: 0;
  
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 30px;
}

#info .botoes span {
    display: block;
    background: var(--cor-principal);
    width: 50px;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    margin-left: -6px;
      
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#info .botoes span svg {
    color: #FFF;
    width: 20px;
    height: 20px;
}

#info .botoes strong {
    flex: 1;
    text-align: center;
    color: #FFF;
    font-size: 28px;
}

#info .botoes:hover {
    background: var(--cor-principal);
    transition: background-color 0.5s;
}

#categorias {
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 10px;
}

#categorias .buttonCat {
    display: block;
    text-align: center;    
    max-width: 130px;
    max-height: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0px;
    color: var(--cor-principal);
    font-size: 16px;
    font-weight: bold;
    background-color: #FFF;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 30px;
}

#categorias .buttonCat img {
    width: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#categorias .buttonCat:hover {
    background-color: var(--cor-hover);
    transition: 0.5s;
}

@media(max-width: 950px) {
    #conteudo {
        margin-left: 2%;
    }
    
    #categorias {
        margin-left: 20px;
    }

    .pesquisa {
        text-align: center;
    }

    #categorias .buttonCat {
        width: 100px;
        height: 100px;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    
    #categorias .buttonCat img {
        width: 90px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(max-width: 790px) {
    #conteudo {
        margin-left: 2%;
    }

    .titulo {
        font-size: 32px;
    }

    .subtitulo {
        font-size: 18px;
    }

    #categorias .buttonCat {
        margin-bottom: 20px;
        margin-top: 5px;
    }
       
    .botoes {
        width: 100%;
        max-width: 250px;
        height: 50px;
    }

    .botoes span {
        display: block;
        background: var(--cor-principal);
        width: 50px;
        height: 50px;
        border-radius: 3px 0px 0px 3px;
        margin-left: -6px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s;
    }

    .botoes span svg {
        color: #FFF;
        width: 20px;
        height: 20px;
    }

    .botoes strong {
        font-size: 24px;
    }
}