
.select-block {
    position: relative;
    margin-top: 0.8rem;
    text-align: initial;
}

.select-block label { 
    left: 0.5rem;
    padding: 0.5rem 0.2rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.select-block select {
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding: 0.4rem;
    border: 1px solid var(--cor-hover);
    color: var(--cor-texto);
    border-radius: 0.3rem;
    background-color: var(--cor-background-header);
}

.select-block select:hover {
    border-color: var(--cor-principal);
}

.select-block option {
    color: var(--cor-texto);
}

@media(min-width: 700px) {
    .select-block {
        display: inline-block;
        width: 22%;
        margin-right: 2.5rem;
    }

    .select-block select {
        font-size: 1.6rem;
    }

    .select-block label {
        font-size: 1.6rem;
    }
}