#box-dados {
    background: var(--cor-background-header);
    padding: 0.6rem;
    margin: 1rem 0.8rem 1rem 0.2rem;
    width: 23rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    display: block;
}

#box-dados .dados {
    margin: 1rem;
    text-align: initial;
}

#box-dados .dados p {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    color: var(--cor-texto)
}

#box-dados .dados strong {
    color: var(--cor-titulo);
}

#box-dados .redesSociais {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-around;
}

#box-dados .redesSociais img {
    width: 2.4rem;
    height: 2.4rem;
}

@media (min-width: 700px) {
    #box-dados {
        width: 38rem;
        padding: 1.6rem;
        margin-bottom: 3rem;
        margin-right: 3.5rem;
    }

    #box-dados .dados p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    #box-dados .redesSociais {
        margin-top: 1.7rem;
    }

    #box-dados .redesSociais img {
        width: 4rem;
        height: 4rem;
    }
}
