#page-header-content {
    max-width: 100%;
    max-height: 25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--cor-background-header);
    margin: 0 auto;
}

#page-header-content img {
    width: 12rem;
    margin: 0.8rem;
}

.header-back-title {
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
    text-align: center;
}

.header-back-title strong {
    font-size: 1.3rem;
    color: var(--cor-titulo);
    margin-top: 1.5rem;
    position: absolute;
    right: 6rem;
    top: 1.5rem;
   width: 10rem;
}

.header-back-title a {
    position: absolute;
    right: 8px;
    top: 5px;
    color: var(--cor-principal);
    transition: color 0.2s;
    font-size: 1.5rem;
}

.header-back-title a:hover {
    color: var(--cor-texto);
}

@media(min-width: 700px) {
    #page-header-content {
        padding: 0.5rem;
    }

    #page-header-content img {
        width: 22rem;
    }

    .header-back-title {
        margin-left: 16rem;

    }

    .header-back-title strong {
        font-size: 2.8rem;
        right: 0;
        top: 2.5rem;
        width: 100%;
    }

    .header-back-title a {
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    .header-back-title strong {
        right: 0;
    }
}