#page-info {
    width: 100vw;
    height: 100vh;
}

#page-info main {
    background: url('../../assets/fundo_mais.svg') no-repeat center top;
    background-size: 90%;
    margin-top: 1.6rem;
    padding: 0.8rem;
}

#page-info main h4 {
    margin: 0 auto;
    max-width: 26rem;
    text-align: center;
}

#page-info main .beneficios {
    margin: 1.5rem 2rem;
    text-align: initial;
    font-weight: 700;  
}

#page-info main .beneficios p {
    margin-bottom: 2.5rem;
}

#page-info .button-cad a {
    background: var(--cor-principal);
    height: 2.8rem;
    color: var(--cor-branco);
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.8s;
    border-radius: 0.3rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.3rem;
    transition: opacity 0.2s;
}

#page-info .button-cad a:hover {
    opacity: 0.6;
}

#page-info main footer {
    font-size: 0.8rem;
}

#page-info main footer a {
    color: var(--cor-principal);
}

#page-info main footer a:hover {
    color: var(--cor-texto);
}

@media (min-width: 700px) {
    #page-info main {
        background: url('../../assets/monitor.svg') no-repeat 75rem top;
        background-size: 45rem;
        padding: 2.5rem 6.5rem;
        margin-left: 3.8rem;
    }

    #page-info main h4 {
        margin: 0;
        max-width: 60rem;
        font-size: 2.4rem;
    }

    #page-info main .beneficios {
        font-size: 2rem;
        margin: 4rem 0 5rem 5rem;
    }

    #page-info .button-cad a {
        width: 50%;
        height: 5rem;
        font-size: 1.8rem;
    }
    #page-info main footer {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    #page-info main h4 {
        font-size: 1.3rem;
        max-width: 22rem;
        text-align: initial;
        margin-left: 1.2rem;
    }

    #page-info main .beneficios {
        margin-bottom: 3rem;
    }

    #page-info main .beneficios p {
        margin-bottom: 1.5rem;
    }
}