:root {
    --cor-principal: #0f166d;
    --cor-titulo: #701e1e;
    --cor-texto: #506e7c;
    --cor-botao: #4b7f98;
    --cor-hover: #6f8f9b;
    --cor-background: #F8F8FC;
    --cor-background-header: #f5f6f7;
    --cor-branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    color: var(--cor-texto);
}

body {
    background: var(--cor-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 400 1rem Arimo;
    color: var(--cor-texto);
}

h1, h2, h3, h4, h5, h6 {
    font: 700 Fira Sans;
    color: var(--cor-titulo);
}

a {
    text-decoration: none;
}

.container {
    min-width: 500px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}
