:root {
    --cor-principal: #0C406B;
    --cor-titulo: #8C0404;
    --cor-botao: #3772A4;
    --cor-hover: #C8D3E2;
    --cor-background: #f0f0f7;
    --cor-background-header: #e1e1e7;
    --cor-branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--cor-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.2rem Roboto;
    color: var(--cor-botao);
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}
